/* home-page */

#content .home {
    font-family: sans-serif;
    padding: 1em;
    font-size: 1em;
}

.home section {
    padding:1em;
    border: 1px solid #CCC;
    border-radius: 4px;
    margin-bottom:0.5em;
}

.home h1,
.home h2,
.home h3,
.home h4,
.home h5 {
    margin:0 0 0.5em 0;
}

.home h2 {
    border-radius: 4px;
    padding: 0.2em 0.5em;
    background-color: #EEE;
}

.home p {
    margin: 0 0 0.2em 1em;
}

.home ol {
    margin-bottom:1em;
}

.settings{
    margin: 1em;
    border: 1px solid #CCC;
}

.settings th,
.settings td{
    padding: 0.4em;
    vertical-align: top;
    border: 1px solid #DDD;
    font-weight: bold;
}

.settings thead th,
.settings thead td{
    background-color: #DDD;
}

.settings tbody th {
    background-color: #EEE;
}