/* ページ 判型設定 */

/* キーワード指定できるサイズ
<page-size> = A5 | A4 | A3 | B5 | B4 | letter | legal | ledger
A5:148×210mm
A4:210×297mm
A3:297×420mm
B5:176x250mm
B4:250x353mm
JIS-B5:182x257mm
JIS-B4:257x364mm
letter:8.5inx11in
legal:8.5x14in
ledger:11x17in

四六判:788×1091mm
*/

@page {
    margin-top: 15mm;
    margin-left: 15mm;
    margin-right: 15mm;
    margin-bottom: 20mm;
    vertical-align: top;
    counter-increment: vPage;
}

@page :left {
    @bottom-left {
        content: counter(vPage);
        margin-left: 3.75pt;
        margin-bottom: 6mm;
        writing-mode: horizontal-tb;
    }
}

@page :right {
    @bottom-right {
        content: counter(vPage);
        margin-right: 3.75pt;
        margin-bottom: 6mm;
        writing-mode: horizontal-tb;
    }
}

/* 目次のページを1ページにする */
/* Coverはページに数えない */
/* TODO: frontmatterなどノンブル無しのページ形式を作る  */

#toc {
    counter-reset: vPage 1;
}

#toc a::after {
    content: target-counter(attr(href), vPage, decimal);
    writing-mode: horizontal-tb;
    float: right;
}

#toc li { clear: both; }
#toc .depth-1 { font-weight: 500; }
#toc .depth-2 { text-indent: 1em; }
#toc .depth-3 { text-indent: 2em; }


/* 通常ページ見出しはH2：改ページする */
h2 {
    page-break-before: always;
    counter-reset: sections 1;
}

/* ブロック途中で改ページしないでほしい */
.footnotes,
figure {
    break-inside: avoid-page;
}

/* section */
.section {
    counter-increment: sections;
}
