/*  Original Styles  */

section.frontmatter {
    font-size: 12rem;
    padding: 1em;
    background-color: #EEE;
    border-radius: 5px;
}

.horizontal-tb section.frontmatter {
    text-align: center;
}

.highlight {
    background-color: rgb(39, 40, 34);
    padding: 0.5em;
    line-height: 1.3;
    font-weight: lighter;
    border: 1px solid #CCC;
}