/* Typography settings */

/* Noto Serif Japanese */
@font-face {
    font-family: 'Noto Serif Japanese';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/NotoSerifCJKjp/NotoSerifCJKjp-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Serif Japanese';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/NotoSerifCJKjp/NotoSerifCJKjp-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Serif Japanese';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/NotoSerifCJKjp/NotoSerifCJKjp-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Serif Japanese';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/NotoSerifCJKjp/NotoSerifCJKjp-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Serif Japanese';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/NotoSerifCJKjp/NotoSerifCJKjp-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Serif Japanese';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/NotoSerifCJKjp/NotoSerifCJKjp-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Serif Japanese';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/NotoSerifCJKjp/NotoSerifCJKjp-Black.otf') format('opentype');
}

/* Noto Sans Japanese */
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/NotoSansCJKjp/NotoSansCJKjp-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/NotoSansCJKjp/NotoSansCJKjp-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/NotoSansCJKjp/NotoSansCJKjp-DemiLight.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/NotoSansCJKjp/NotoSansCJKjp-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/NotoSansCJKjp/NotoSansCJKjp-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/NotoSansCJKjp/NotoSansCJKjp-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/NotoSansCJKjp/NotoSansCJKjp-Black.otf') format('opentype');
}

/* Source Han CodeJP */
@font-face {
    font-family: 'Source Han CodeJP';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/SourceHanCodeJP/SourceHanCodeJP-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Source Han CodeJP';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/SourceHanCodeJP/SourceHanCodeJP-Light.otf') format('opentype');
}


/* Font Settings */

html {
    font-size: 0.25mm;
}

#content {
    font-family: 'Noto Serif Japanese', sans-serif, serif;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.6;
}

#content code {
    font-size: 14rem;
    font-family: 'Source Han CodeJP', monospace;
    font-weight: 300;
    line-height: 1.3;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    color: inherit;
}

h1 { font-size: 22rem; font-weight: 700; }
h2 { font-size: 20rem; }
h3 { font-size: 19rem; }
h4 { font-size: 18rem; }
h5 { font-size: 16rem; }
h6 { font-size: 14rem; }

.vertical-rl h1,
.vertical-rl h2,
.vertical-rl h3,
.vertical-rl h4,
.vertical-rl h5,
.vertical-rl h6 {
    margin-right: 1.25em;
    margin-left: 0.6em;
}

.horizontal-tb h1,
.horizontal-tb h2,
.horizontal-tb h3,
.horizontal-tb h4,
.horizontal-tb h5,
.horizontal-tb h6 {
    margin-top: 1.25em;
    margin-bottom: 0.6em;
}


.vertical-rl p {
    margin-right: 0.6em;
    margin-left: 1.25em;  
    hanging-punctuation: force-end;
}

.horizontal-tb p {
    margin-top: 0.6em;
    margin-bottom: 1.25em;  
    hanging-punctuation: force-end;
}
.footnotes{
    font-size: 0.8em;
}

figure.fullWidth h4 {
    font-size: 0.8em;
}