@namespace "http://www.w3.org/1999/xhtml";
@namespace epub "http://www.idpf.org/2007/ops";

html {
  orphans: 1;
  widows: 1;
}

body {
  text-align: justify;
  text-justify: inter-ideograph;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.horizontal-tb {
  -epub-writing-mode: horizontal-tb;
  -ms-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
}

.vertical-rl {
  -epub-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

hr {
  border: none;
  border-right: 1pt solid black;
  height: 80%;
  margin: auto 8.5pt;
}

.horizontal-tb blockquote,
.horizontal-tb ul,
.horizontal-tb fieldset,
.horizontal-tb form,
.horizontal-tb ol,
.horizontal-tb dl,
.horizontal-tb menu {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding: 0;
}

.vertical-rl blockquote,
.vertical-rl ul,
.vertical-rl fieldset,
.vertical-rl form,
.vertical-rl ol,
.vertical-rl dl,
.vertical-rl menu {
  margin-right: 1.25em;
  margin-left: 1.25em;
  padding: 0;
}


blockquote blockquote, blockquote ol, blockquote ul, blockquote dl, ol blockquote, ol ol, ol ul, ol dl, ul blockquote, ul ol, ul ul, ul dl, dl blockquote, dl ol, dl ul, dl dl {
  margin-right: 0em;
  margin-left: 0em;
}

.horizontal-tb ol,
.horizontal-tb ul,
.horizontal-tb menu,
.horizontal-tb dd {
  margin-left: 2em;
}

.vertical-rl ol,
.vertical-rl ul,
.vertical-rl menu,
.vertical-rl dd {
  margin-top: 2em;
}

a {
  color: #0538b2;
}
a:hover {
  color: #b2058e;
}
a:active {
  color: #b27f05;
}

pre {
  white-space: pre-wrap;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

hr {
  margin-right: 1.25em;
  margin-left: 1.25em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,h2,h3,h4,h5,h6,hr {
  break-after: avoid
}

/* 縦中横 */
.tcy {
  -webkit-text-combine: horizontal;
  -ms-text-combine-horizontal: all;
  text-combine-upright: all;
  text-combine-horizontal: all;
  text-combine: horizontal;
}

#toc ol { list-style-type: none; }

figure.fullWidth {
  widows: 100%;
  max-width: 100%;
  text-align: center;  
  -epub-writing-mode: horizontal-tb;
  -ms-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb;
}