@charset "UTF-8";

@import "base";
@import "typography";

@page {
    size: {{ $.Site.Params.pageSize }};
    margin: 0mm;
}

html,
body,
#content,
#content article {
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}

#cover{
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size:cover;
}

@import "style";
